In [6]:
%matplotlib inline

import pandas as pd

# these will be useful later
import numpy  as np
from matplotlib import pyplot as plt

In [22]:
crime=pd.read_csv("mun.csv", index_col = "id", parse_dates = ["id"], encoding='iso-8859-1')
crime.tail(5)

,year,ENTIDAD,MUNICIPIO,MODALIDAD,TIPO,SUBTIPO,total
id,,,,,,,
32058,2016,ZACATECAS,SANTA MARIA DE LA PAZ,DELITOS SEXUALES (VIOLACION),VIOLACION,VIOLACION,0
32058,2016,ZACATECAS,SANTA MARIA DE LA PAZ,OTROS DELITOS,AMENAZAS,AMENAZAS,0
32058,2016,ZACATECAS,SANTA MARIA DE LA PAZ,OTROS DELITOS,ESTUPRO,ESTUPRO,0
32058,2016,ZACATECAS,SANTA MARIA DE LA PAZ,OTROS DELITOS,OTROS SEXUALES,OTROS SEXUALES,0
32058,2016,ZACATECAS,SANTA MARIA DE LA PAZ,OTROS DELITOS,RESTO DE LOS DELITOS (OTROS),RESTO DE LOS DELITOS (OTROS),5

In [31]:
crimg = crime.groupby(['MUNICIPIO', 'MODALIDAD'])
crimg= crime.groupby("MUNICIPIO").sum()
crimg.head(5)

               year  total
MUNICIPIO
ABALA        797346     23
ABASOLO     3189384   6639
ABEJONES     398706      0
ACACOYAGUA   797346    408
ACAJETE     1594692   1344